body {
    font-family: Lato, sans-serif;
    margin: 0;
}
h1, h2, h3 {
    font-family: "Playfair Display", serif;
}
header {
    background-image: url("images/blogwp_how-to-grill-steaks-perfectly-for-beginners-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header div {
    background-color: #ede4d974;
    padding: 1em;
}
nav {
    background-color: #74361e;
    color: #ede4d9;
}
nav button {
    height: 4em;
    width: 4em;
}
nav ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   flex-direction: column;
   border: 1px solid #ede4d9;
}
nav li {
}
nav li a {
    padding: 0.5em 1em;
    border: 1px solid #ede4d9;
    background-color: #74361e;
    color: #ede4d9;
    display: block;
    text-decoration: none;
}
nav li a:hover {
    color: #74361e;
    background-color: #ede4d9;
}
#navbar {
    opacity: 0;
    height: auto;
    transform: translateX(-200em);
    transition: opacity 1.5s, transform 1s;
}
#navbar.open {
    transform: translateX(0);
    opacity: 1;
}
header,
section,
footer {
    padding: 0.5em 1em;
}
section:nth-child(odd) {
    background-color: #ede4d9;
}
footer {
    background-color: #74361e;
    color: #ede4d9;
}